.inline-block {
    display: inline-block;
    vertical-align: top;
}

.logo {
    width: 23%;
    padding: 1%;
    text-align: center;
}

nav {
    position: absolute;
    top: 0;
    font-size: 26px;
    width: 73%;
    padding: 1%;
    text-align: center;
}

ul {
    width: 50%;
    margin-left: auto;
}

section.heroImg {
    height: 600px;
    padding: 25px;
}

.content {
    width: 500px;
    margin: 0 auto;
    align-content: center;
    padding-right: 25%;
    padding-left: 20%;
} 

footer {
    background-color: #373738;
    width: 100%;
    position: absolute;
    bottom: 0;
}

footer ul {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding-left: 30%;
    color: white;
 

}
   



